body, .listen, .add, .main-form h1, ul, p {
    padding: 0;
    margin: 0;
    font-family: 'Arial Narrow';
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

ul {
    list-style-type: none;
}

p {
    width: 310px;
    font-size: 9pt;
    margin-bottom: 18px;
}

.main-form {
    position: absolute;
    padding: 15px;
    top:20px;
    left: 100px;
    width: 368px;
    height: 538px;
    border-radius: 10px;
    background-color: rgb(238,238,238);
}

    .main-form h1 {
        font-weight: normal;
        margin-bottom: 40px;
    }

.add {
    float: right;
    width: 62px;
    height: 25px;
}

.listen {
    float: right;
    margin-right: 5px;
    width: 75px;
    height: 25px;
}

.list-div {
    height: 84px;
    padding: 18px;
    margin-bottom: 36px;
    border: 1px solid grey;
    background-color: white;
}

.list-div-last {
    height: 104px;
    margin-bottom:18px;
}

    .list-div img {
        float: left;
        margin-right: 18px;
        height: 87px;
        width: 130px;
        border:1px solid grey;
    }

    .list-div p span {
        font-weight: bold;
    }
