<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FileUploadServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.94.23.31:57772/csp/user/FUS.FileUploadService.cls"
                binding="basicHttpBinding" bindingConfiguration="FileUploadServiceSoap"
                contract="CacheFileUploadService.FileUploadServiceSoap" name="FileUploadServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>