@{
    ViewBag.Title = "UploadFile";
}

<h2>@ViewBag.Title</h2>

<div class="form-group">
   @(Html.Kendo().Upload()
              .Name("upload")
              .Async(a => a
                         .Save("SaveAndPersist", "FileUppload")
                         .Remove("RemoveAndPersist", "FileUppload")
                  .AutoUpload(true)
              )
)

</div>