.inputstudent{
    position: absolute;
    left: 125px;
}

.name{
    width: 173px;
}

.panels {
    top:10px;
    float:left;
    }
.clear {
    clear:both;
}


#DropDownListUniversity {
    width: 173px;
}

