* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightblue;
}
body form#form1 {
  margin: 10px 0 0 10px;
}
body form#form1 div {
  position: absolute;
}
body form#form1 div img {
  display: block;
  width: 300px;
  height: 400px;
}
body form#form1 div .bottom-left {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 10px;
  height: 7px;
  background-image: url(../img/bottom-left.png);
}
body form#form1 div .bottom-right {
  position: absolute;
  right: -7px;
  width: 7px;
  height: 7px;
  background-image: url(../img/bottom-right.png);
}
body form#form1 div .bottom-tile {
  position: absolute;
  right: 0px;
  left: 10px;
  height: 7px;
  background-image: url(../img/bootm-tile.png);
  background-repeat: repeat-x;
}
body form#form1 div .right {
  background-image: url(../img/right.png);
  background-repeat: repeat-y;
  width: 7px;
  position: absolute;
  top: 10px;
  bottom: 0px;
  right: -7px;
}
body form#form1 div .top-right {
  width: 7px;
  height: 10px;
  position: absolute;
  top: 0px;
  right: -7px;
  background-image: url(../img/top-right.png);
}
div#picture2 {
  position: absolute;
  left: 400px;
}
div#picture2 img#picture2 {
  height: 200px;
  width: 150px;
}
