@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
<hr/>
<h4>@ViewBag.Message</h4>

<address>
    <br />
    <h3>Бизнес Мениджмънт Системс ЕООД</h3>
    България<br />
    8104 Бургас<br />
    Производствена площадка на<br />
    “ЛУКОЙЛ НЕФТОХИМ БУРГАС“ АД<br />
    <abbr title="телефон за контакти">тел:</abbr>
    +359 5511 3420
</address>
<br />
<address>
    <strong>Поддръжка:</strong>   <a href="mailto:support@bmsys.eu">Support@bmsys.eu</a><br />
    <strong>Офис:</strong>   <a href="mailto:office@bmsys.eu">Office@bmsys.eu</a><br />
</address>