USE [master]
GO
/****** Object:  Database [World]    Script Date: 11.4.2014 г. 15:30:09 ч. ******/
CREATE DATABASE [World]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'World', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\World.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'World_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\World_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [World].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [World]
GO
/****** Object:  Table [dbo].[City]    Script Date: 11.4.2014 г. 15:30:09 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](35) NOT NULL,
	[CountryCode] [char](3) NOT NULL,
	[District] [nvarchar](20) NOT NULL,
	[Population] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 11.4.2014 г. 15:30:09 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continents](
	[ContinentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContinentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 11.4.2014 г. 15:30:09 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[Code] [char](3) NOT NULL,
	[Name] [nvarchar](52) NOT NULL,
	[ContinentId] [int] NOT NULL,
	[Region] [nvarchar](50) NOT NULL,
	[SurfaceArea] [real] NOT NULL,
	[IndepYear] [smallint] NULL,
	[Population] [int] NOT NULL,
	[LifeExpectancy] [real] NULL,
	[GNP] [real] NULL,
	[GNPOld] [real] NULL,
	[LocalName] [nvarchar](50) NOT NULL,
	[GovernmentForm] [nvarchar](50) NOT NULL,
	[HeadOfState] [nvarchar](60) NULL,
	[Capital] [int] NULL,
	[Code2] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK__Country__A25C5AA653D51884] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CountryLanguage]    Script Date: 11.4.2014 г. 15:30:09 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CountryLanguage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [char](3) NOT NULL,
	[Language] [nvarchar](30) NOT NULL,
	[IsOfficial] [bit] NOT NULL,
	[Percentage] [real] NOT NULL,
 CONSTRAINT [PK_CountryLanguage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name], [CountryCode], [District], [Population]) VALUES (1, N'Kabul', N'AFG', N'Kabol', 1780000)
INSERT [dbo].[City] ([Id], [Name], [CountryCode], [District], [Population]) VALUES (2, N'Qandahar', N'AFG', N'Qandahar', 237500)
INSERT [dbo].[City] ([Id], [Name], [CountryCode], [District], [Population]) VALUES (3, N'Herat', N'AFG', N'Herat', 186800)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Continents] ON 

INSERT [dbo].[Continents] ([ContinentId], [Name]) VALUES (1, N'Asia')
INSERT [dbo].[Continents] ([ContinentId], [Name]) VALUES (2, N'Europe')
INSERT [dbo].[Continents] ([ContinentId], [Name]) VALUES (3, N'North America')
SET IDENTITY_INSERT [dbo].[Continents] OFF
INSERT [dbo].[Country] ([Code], [Name], [ContinentId], [Region], [SurfaceArea], [IndepYear], [Population], [LifeExpectancy], [GNP], [GNPOld], [LocalName], [GovernmentForm], [HeadOfState], [Capital], [Code2]) VALUES (N'ABW', N'Aruba', 3, N'Caribbean', 193, NULL, 103000, 78.4, 828, 793, N'Aruba', N'Nonmetropolitan Territory of The Netherlands', N'Beatrix', 129, N'AW')
INSERT [dbo].[Country] ([Code], [Name], [ContinentId], [Region], [SurfaceArea], [IndepYear], [Population], [LifeExpectancy], [GNP], [GNPOld], [LocalName], [GovernmentForm], [HeadOfState], [Capital], [Code2]) VALUES (N'AFG', N'Afghanistan', 1, N'Southern and Central Asia', 652090, 1919, 22720000, 45.9, 5976, NULL, N'Afganistan/Afqanestan', N'Islamic Emirate', N'Mohammad Omar', 1, N'AF')
INSERT [dbo].[Country] ([Code], [Name], [ContinentId], [Region], [SurfaceArea], [IndepYear], [Population], [LifeExpectancy], [GNP], [GNPOld], [LocalName], [GovernmentForm], [HeadOfState], [Capital], [Code2]) VALUES (N'AGO', N'Angola', 4, N'Central Africa', 1246700, 1975, 12878000, 38.3, 6648, 7984, N'Angola', N'Republic', N'JosA© Eduardo dos Santos', 56, N'AO')
GO
SET IDENTITY_INSERT [dbo].[CountryLanguage] ON 

INSERT [dbo].[CountryLanguage] ([Id], [CountryCode], [Language], [IsOfficial], [Percentage]) VALUES (1, N'ABW', N'Dutch', 1, 5.3)
INSERT [dbo].[CountryLanguage] ([Id], [CountryCode], [Language], [IsOfficial], [Percentage]) VALUES (2, N'ABW', N'English', 0, 9.5)
INSERT [dbo].[CountryLanguage] ([Id], [CountryCode], [Language], [IsOfficial], [Percentage]) VALUES (3, N'ABW', N'Papiamento', 0, 76.7)
GO
SET IDENTITY_INSERT [dbo].[CountryLanguage] OFF
ALTER TABLE [dbo].[City] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[City] ADD  DEFAULT ('') FOR [CountryCode]
GO
ALTER TABLE [dbo].[City] ADD  DEFAULT ('') FOR [District]
GO
ALTER TABLE [dbo].[City] ADD  DEFAULT ('0') FOR [Population]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Code__108B795B]  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Name__117F9D94]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Contine__1273C1CD]  DEFAULT ((1)) FOR [ContinentId]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Region__1367E606]  DEFAULT ('') FOR [Region]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Surface__145C0A3F]  DEFAULT ('0.00') FOR [SurfaceArea]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__IndepYe__15502E78]  DEFAULT (NULL) FOR [IndepYear]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Populat__164452B1]  DEFAULT ('0') FOR [Population]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__LifeExp__173876EA]  DEFAULT (NULL) FOR [LifeExpectancy]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__GNP__182C9B23]  DEFAULT (NULL) FOR [GNP]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__GNPOld__1920BF5C]  DEFAULT (NULL) FOR [GNPOld]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__LocalNa__1A14E395]  DEFAULT ('') FOR [LocalName]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Governm__1B0907CE]  DEFAULT ('') FOR [GovernmentForm]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__HeadOfS__1BFD2C07]  DEFAULT (NULL) FOR [HeadOfState]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Capital__1CF15040]  DEFAULT (NULL) FOR [Capital]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Code2__1DE57479]  DEFAULT ('') FOR [Code2]
GO
ALTER TABLE [dbo].[CountryLanguage] ADD  CONSTRAINT [DF__CountryLa__Count__440B1D61]  DEFAULT ('') FOR [CountryCode]
GO
ALTER TABLE [dbo].[CountryLanguage] ADD  CONSTRAINT [DF__CountryLa__Langu__44FF419A]  DEFAULT ('') FOR [Language]
GO
ALTER TABLE [dbo].[CountryLanguage] ADD  CONSTRAINT [DF__CountryLa__IsOff__45F365D3]  DEFAULT ('F') FOR [IsOfficial]
GO
ALTER TABLE [dbo].[CountryLanguage] ADD  CONSTRAINT [DF__CountryLa__Perce__46E78A0C]  DEFAULT ('0.0') FOR [Percentage]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([Code])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Country_Continents] FOREIGN KEY([ContinentId])
REFERENCES [dbo].[Continents] ([ContinentId])
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Country_Continents]
GO
ALTER TABLE [dbo].[CountryLanguage]  WITH CHECK ADD  CONSTRAINT [FK_CountryLanguage_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([Code])
GO
ALTER TABLE [dbo].[CountryLanguage] CHECK CONSTRAINT [FK_CountryLanguage_Country]
GO
USE [master]
GO
