body {
  background-color: white;
}
@media only screen and (max-width: 480px) {
  nav ul li {
    display: block;
    background-color: black;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4em;
    border-collapse: collapse;
  }
}
